.settings_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 90%;
  background-color: white;
  box-shadow: 2px solid #616161;
  padding: 4;
}
